@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body{
	font-family: 'Noto Sans TC', sans-serif;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
nav a:link {
    color: #49177E;
    text-decoration: none;
    text-shadow: 0px 1px #CAABE2;
}
nav {
    text-decoration: none;
    font-size: small;
    text-align: center;
}
article h3 {
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-indent: 10px;
    background-color: #E1D7BB;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.skincareimg {
    height: 450px;
    border-radius: 42px;
    background-color: #1D0C0C;
    background-image: url(five-skincare-ingredients-to-try.jpg);
    background-position: center center;
    background-size: contain;
    font-size: xx-large;
    line-height: 0px;
    background-repeat: repeat-y;
}

nav a:hover {
    color: #4E1314;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    background-size: contain;
}
nav a:visited {
    color: #BB7FAC;
    text-decoration: line-through;
}
div .skincareimg p {
    text-align: center;
    font-size: 130px;
    line-height: 430px;
    text-shadow: 5px 5px #CFC9D6;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    background-size: contain;
    margin-top: -1px;
}

header p {
    font-size: 60px;
    text-align: center;
	padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-right: 3px;
    padding-left: 3px;
    color: #0B5B5B;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-shadow: 0px 4px #8FB1BB;
    letter-spacing: 10px;
    border-radius: 16px;
    background-color: #CED8D9;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
}

main article div {
    display: flex;
    justify-content: center;
}

footer h5 {
    text-align: center;
}
